ul.navbar-right li a {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

.navbar-default {
    background-color: #6F4E37;
    background-image: linear-gradient(135deg, #51312E, #6F4E37);
}

.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGitlab:hover {
    background-color:#E14328;
}
.social-network a.icoInstagram:hover i, .social-network a.icoGitlab:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoScholar:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
}
.social-circle li i {
    margin:0;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}