<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Coffee Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css" integrity="sha512-OivR4OdSsE1onDm/i3J3Hpsm5GmOVvr9r49K3jJ0dnsxVzZgaOJ5MfxEAxCyGrzWozL9uJGKz6un3A7L+redIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="../css/custom.css" rel="stylesheet">
</head>
<body class="bg-light">
<nav class="navbar navbar-default navbar-expand-lg navbar-dark bg-dark navbar-static-top">
    <div class="navbar-header d-flex col ms-4">
        <a class="navbar-brand" href="/">Coffee Data</a>
        <button type="button" data-bs-target="#navbarCollapse" data-bs-toggle="collapse" class="navbar-toggle navbar-toggler">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    {% if page is undefined %}
    {% set page = "" %}
    {% endif %}

    {% set pages = ['home', 'login', 'signup', 'submission', 'logout', 'coffee'] %}
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start ms-4 me-4">
        <ul class="nav navbar-nav">
            {% for p in pages %}
            <li class="nav-item">
            <a class="nav-link {% if page == p %} active {% endif %}" href="/{{ p }}">{{ p | title }}</a>
            </li>
            {% endfor %}
        </ul>
        <ul class="nav navbar-nav navbar-end flex-row social-network social-circle ms-auto me-4">
            <li class="nav-item">
                <a href="https://gitlab.com/jhring/coffeedata" class="nav-link icoGitlab"><i class="fa-brands fa-gitlab"></i></a>
            </li>
            <li class="nav-item ms-4">
                <a href="https://twitter.com/johnhringiv" class="nav-link icoTwitter"><i class="fa-brands fa-twitter"></i></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-4">
{% if alert %}
    <div class="alert alert-{{ alert.level }} mb-4" role="alert">
        {{ alert.message }}
    </div>
{% endif %}

{% block content %}
{% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>