{% extends "base.html" %}

{% block content %}
<div class="container mb-3">
    <!--    todo add autocomplete suggestions -->
    <form action="" method="POST" class="row g-3">
        <!--            todo make dropdown from table-->
        <div class="mb-3 row">
            <label class="col-1 col-form-label" for="roaster_name">Roaster:</label>
            <div class="col-6">
                <input class="form-control" type="text" name="roaster_name" id="roaster_name" placeholder="Brio" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-1 col-form-label" for="roast_name">Roast:</label>
            <div class="col-6">
                <input class="form-control" type="text" name="roast_name" id="roast_name" placeholder="Name" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-1 col-form-label" for="roast_type">Grinder:</label>
            <div class="col-6">
                <select class="form-select" name="roast_type" id="roast_type" required>
                    <option value="">Please Select</option>
                    <option value="Light">Light</option>
                    <option value="Medium">Medium</option>
                    <option value="Medium Dark">Medium Dark</option>
                    <option value="Dark">Dark</option>
                </select>
            </div>
        </div>
        <div class="col-1">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
</div>
{% endblock %}