{% extends "base.html" %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Submitter</th>
      <th scope="col">Machine</th>
      <th scope="col">Grinder</th>
      <th scope="col">Roast</th>
      <th scope="col">Dose</th>
      <th scope="col">Yield</th>
      <th scope="col">Grind Step</th>
      <th scope="col">Time</th>
      <th scope="col">Temperature Step</th>
      <th scope="col">Taste</th>
      <th scope="col">Thickness</th>
      <th scope="col">Flavor</th>
      <th scope="col">Aftertaste</th>
    </tr>
  </thead>
  <tbody>
{% for brew_user in brews_users %}
{% set brew = brew_user[0] %}
{% set user = brew_user[1] %}
  <tr>
    <th scope="row">{{ loop.index }}</th>
    <td>{{ user.username }}</td>
    <td>{{ brew.machine }}</td>
    <td>{{ brew.grinder }}</td>
    <td>{{ brew.roast }}</td>
    <td>{{ brew.dose | round(percision=2) }}</td>
    <td>{{ brew.brew_yield | round(percision=2) }}</td>
    <td>{{ brew.grind_step }}</td>
    <td>{{ brew.brew_time | round(percision=2)  }}</td>
    <td>{{ brew.temperature_step }}</td>
    <td>{{ brew.taste }}</td>
    <td>{{ brew.thickness }}</td>
    <td>{{ brew.flavor }}</td>
    <td>{{ brew.aftertaste }}</td>
  </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}