{% extends "base.html" %}

{% block content %}
<div class="container mb-3">
    <form action="" method="POST" class="row g-3">
        <div class="mb-3 row">
            <label class="col-1 col-form-label" for="username">Username:</label>
            <div class="col-6">
                <input class="form-control" type="text" name="username" id="username">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-1 col-form-label" for="email">Email:</label>
            <div class="col-6">
                <input class="form-control" type="email" name="email" id="email">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-1 col-form-label" for="password">Password:</label>
            <div class="col-6">
                <input class="form-control" type="text" name="password" id="password">
            </div>
        </div>
        <div class="col-1">
            <input class="btn btn-primary" type="submit" value="Sign Up">
        </div>
    </form>
</div>
{% endblock %}