{% extends "base.html" %}

{% block content %}
<div class="container mb-3">
<!--    todo populate recommend values based on Coffee selection ,-->
    <form action="" method="POST" class="row g-3">
        <!--            todo make dropdown from table-->
        <div class="mb-3 row">
            <label class="col-1 col-form-label" for="roast">Coffee:</label>
            <div class="col-6">
                <select class="form-select" name="roast" id="roast" required>
                    <option value="">Please Select</option>
                    {% for roast in roasts %}
                    <option value="{{ roast.2 }}">{{ roast.0 ~ ' - ' ~ roast.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!--            todo make dropdown from table-->
        <div class="mb-3 row">
            <label class="col-1 col-form-label" for="machine">Machine:</label>
            <div class="col-6">
                <input class="form-control" type="text" name="machine" id="machine" placeholder="Breville Barista Pro" value="Breville Barista Pro" required>
            </div>
        </div>
<!--        todo make dropdown from table-->
        <div class="mb-3 row">
            <label class="col-1 col-form-label" for="grinder">Grinder:</label>
            <div class="col-6">
                <input class="form-control" type="text" name="grinder" id="grinder" placeholder="built-in" value="built-in" required>
            </div>
        </div>
<!--        todo make slider optimal 17-21-->
        <div class="mb-3 row">
            <label for="dose" class="col-1 col-form-label">Dose:</label>
            <div class="col-6">
                <div class="input-group">
                    <input class="form-control" type="number" name="dose" id="dose" placeholder="18" value="18" step="any" required>
                    <span class="input-group-text"> grams </span>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="yield" class="col-1 col-form-label">Yield:</label>
            <div class="col-6">
                <div class="input-group">
                    <input class="form-control" type="number" name="brew_yield" id="yield" placeholder="26" step="any" required>
                    <span class="input-group-text"> grams </span>
                </div>
            </div>
        </div>
        <!--        todo dependent on grinder-->
        <div class="mb-3 row">
            <label for="grind_step" class="col-1 col-form-label">Grind Setting:</label>
            <div class="col-6">
                <input class="form-range" type="range" name="grind_step" id="grind_step" min="1" max="30" step="1" value="10" required>
            </div>
            <div class="col-1">
                <output id="grind_step_output">10</output>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="brew_time" class="col-1 col-form-label">Time:</label>
            <div class="col-6">
                <input class="form-range" type="range" name="brew_time" id="brew_time" placeholder="25" value="25" min="0" max="60" list="timelist" required>
                <datalist id="timelist">
                    <option>20</option>
                    <option>25</option>
                    <option>30</option>
                </datalist>
            </div>
            <div class="col-1">
                <output id="brew_time_output">25</output> seconds
            </div>
        </div>
<!--        todo set temp based on brewer-->
        <div class="mb-3 row">
            <label for="temperature_step" class="col-1 col-form-label">Temperature:</label>
            <div class="col-6">
                <input  class="form-range" type="range" name="temperature_step" id="temperature_step" placeholder="3" value="3" min="1" max="5" required>
                <datalist id="rangelist">
                    <option>3</option>
                </datalist>
            </div>
            <div class="col-1">
                <output id="temperature_step_output">3</output>
            </div>
        </div>
        <div class="row">
            <label for="taste" class="col-1 col-form-label">Taste:</label>
            <div class="col-6">
                <input class="form-range" type="range" name="taste" id="taste" placeholder="0" min="-10" max="10" value="0" list="standardlist" required>
            </div>
            <div class="col-1">
                <output id="taste_output">0</output>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-2"><p class="text-start">Acidic</p></div>
            <div class="col-2"><p class="text-center">Sweet</p></div>
            <div class="col-2"><p class="text-end">Bitter</p></div>
        </div>
        <div class="row">
            <label for="thickness" class="col-1 col-form-label">Thickness:</label>
            <div class="col-6">
                <input class="form-range" type="range" name="thickness" id="thickness" placeholder="0" value="0" min="-10" max="10" list="standardlist" required>
            </div>
            <div class="col-1">
                <output id="thickness_output">0</output>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-3"><p class="text-start">Watery</p></div>
            <div class="col-3"><p class="text-end">Muddy</p></div>
        </div>
        <div class="row mb-3">
            <label class="col-1 col-form-label" for="flavor">Flavor:</label>
            <div class="col-6">
                <input class="form-range" type="range" name="flavor" id="flavor" placeholder="0" value="5" min="0" max="10" list="scorelist" required>
            </div>
            <div class="col-1">
                <output id="flavor_output">5</output>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-1 col-form-label" for="aftertaste">Aftertaste:</label>
            <div class="col-6">
                <input class="form-range" type="range" name="aftertaste" id="aftertaste" placeholder="0" value="5" min="0" max="10" list="scorelist" required>
            </div>
            <div class="col-1">
                <output id="aftertaste_output">5</output>
            </div>
        </div>
        <div class="col-1">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
</div>
<datalist id="standardlist">
    <option>-5</option>
    <option>0</option>
    <option>5</option>
</datalist>
<datalist id="scorelist">
    <option>5</option>
</datalist>
<script>
    const allRanges = document.querySelectorAll(".form-range");
    allRanges.forEach(range => {
        range.addEventListener("input", () => {
            document.getElementById(range.id + '_output').value = range.value;
        });
    });
</script>
{% endblock %}